<main class="contenedor panel-administracion">
    <h1><%= nombrePagina %></h1>

    <div class="contenedor-botones">
        <a href="/nuevo-grupo" class="btn btn-amarillo">Nuevo Grupo</a>
        <a href="/nuevo-meeti" class="btn btn-azul">Nuevo Meeti</a>
        <a href="/editar-perfil" class="btn btn-rosa">Editar Perfil</a>
        <a href="/imagen-perfil" class="btn btn-amarillo">Imagen Perfil</a>
    </div>

    <div class="seccion-admin">
        <h2>Tus Meeti's</h2>
        <ul>
            <li>
                <div class="informacion-admin">
                    <p class="fecha">Lunes, 22 de Mayo de 2019</p>
                    <h3>E-Commerce en México</h3>
                    <small>23 Asistentes</small>
                </div>
                <div class="accions contenedor-botones">
                    <a href="#" class="btn btn-verde">Editar</a>
                    <a href="#" class="btn btn-azul2">Asistentes</a>
                    <a href="#" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
            <li>
                <div class="informacion-admin">
                    <p class="fecha">Miércoles, 24 de Mayo de 2019</p>
                    <h3>Bitcoins y otras criptomonedas</h3>
                    <small>23 Asistentes</small>
                </div>
                <div class="accions contenedor-botones">
                    <a href="#" class="btn btn-verde">Editar</a>
                    <a href="#" class="btn btn-azul2">Asistentes</a>
                    <a href="#" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
            <li>
                <div class="informacion-admin">
                    <p class="fecha">Viernes, 26 de Mayo de 2019</p>
                    <h3>Node México</h3>
                    <small>230 Asistentes</small>
                </div>
                <div class="accions contenedor-botones">
                    <a href="#" class="btn btn-verde">Editar</a>
                    <a href="#" class="btn btn-azul2">Asistentes</a>
                    <a href="#" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="seccion-admin">
        <h2>Tus Grupos</h2>
        <ul>
            <li>
                <div class="informacion-admin">
                    <h3>BlockChain Guadalajara</h3>
                </div>
                <div class="accions contenedor-botones">
                    <a href="#" class="btn btn-verde">Editar</a>
                    <a href="#" class="btn btn-azul2">Asistentes</a>
                    <a href="#" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
            <li>
                <div class="informacion-admin">
                    <h3>GraphQL Guadalajara</h3>
                </div>
                <div class="accions contenedor-botones">
                    <a href="#" class="btn btn-verde">Editar</a>
                    <a href="#" class="btn btn-azul2">Asistentes</a>
                    <a href="#" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
            <li>
                <div class="informacion-admin">
                    <h3>Node.js Guadalajara</h3>
                </div>
                <div class="accions contenedor-botones">
                    <a href="#" class="btn btn-verde">Editar</a>
                    <a href="#" class="btn btn-azul2">Asistentes</a>
                    <a href="#" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
        </ul>
    </div>
</main>