<h1 style="text-align: center; font-family: Arial, Helvetica;">Confirmar tu Cuenta</h1>

<p style="text-align: center; font-family: Arial, Helvetica;">Hola, estás a un paso de comenzar a crear una comunidad en Meeti, solo debes confirmar tu cuenta en el siguiente enlace:</p>

<a style="display: block; font-family: Arial, Helvetica;padding: 1rem; background-color: #00C897; color: white; text-transform: uppercase;text-align: center; text-decoration: none;" 
href="<%= url  %> ">Cofirmar tu cuenta</a>

<p style="text-align: center; font-family: Arial, Helvetica;">Si no puedes acceder a este enlace, visita: <%= url %> </p>

<p style="text-align: center; font-family: Arial, Helvetica;">Si no solicitaste este e-mail puedes ignorarlo</p>